@font-face{
    font-family: "Oxanium";
    font-style: normal;
    src: local("Oxanium"),
        url("../fonts/Oxanium.woff2") format("woff2"),
        url("../fonts/Oxanium.woff") format("woff"),
        url("../fonts/Oxanium.ttf") format("ttf");
    font-display: swap;
}
@font-face {
    font-family: "Work Sans";
    font-style: normal;
    src: local("Work-Sans"),
        url("fonts/Work-Sans.woff2") format("woff2"),
        url("fonts/Work-Sans.woff") format("woff"),
        url("fonts/Work-Sans.ttf") format("ttf");
    font-display: swap;
}