html, body {
    font-family: 'Oxanium', 'Work-Sans' serif;
    background: #1C121F;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.header {
    /* margin-left: 80px; */
    display: flex;
    justify-content: space-between;
    background: url('images/dercor/Hero_section-back.svg') 100% 100% / cover no-repeat;
}

.container {
    max-width: 1600px; 
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;
}

.button {
    display: inline-block;
    font-weight: 600;
    color: #FFCE4E;
    background: rgba(233, 215, 167, 0.10);
    white-space: nowrap;
    transition: .4s;
}


/*========================HEADER=======================*/

.header__top-container {
    display: flex;
    align-items: center;
    margin-top: 37px;
}

.header__top-logo {
}

.header__nav {
    margin-left: 565px;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 64px;
}

.header__nav-item:last-child {
    margin-right: 0px;
}

.header__nav-link {
    color: #F5FBF2;
    font-family: "Work-Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.36px;
    transition: all .3s;
}

.header__nav-link:hover {
    color: #FFCE4E;
    text-decoration: underline 2px;
}

.header__btn-box {
    margin-left: 161px;
}

.header__wallet-btn {
    width: 195px;
    height: 64px;
    font-family: "Work-Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid #FFCE4E;
    padding: 21px 29px 22px 30px;
}

.header__wallet-btn:hover {
    transform: scale(1.2);
}


.header__body-container {
    display: flex;
    justify-content: space-between;
    
}

.header__explore {
    padding-right: 99px;
    padding-top: 171px;
}

.header__text {
    max-width: 680px;
    height: 390px;
}

.text__explore {
    font-family: "Oxanium";
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: 152.941%;
}

.header__but-box {
    margin-top: 77px;
    display: flex;
    color: #FFF;
}

.header__btn-exlore {
    margin-right: 48px;
    width: 257px;
    height: 84px;
    color: #FFF;
    font-family: 'Work-Sans';
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 128.571%;
    padding: 24px 76px;
    border: 1px solid #FFCE4E;
    transition: all .4s;
}

.header__btn-exlore:hover {
    color: black;
    background: #FFCE4E;
}

.header__btn-create {
    width: 257px;
    height: 84px;
    color: #FFF;
    font-family: 'Work-Sans';
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 128.571%;
    padding: 24px 90px 24px 76px;
    border: 1px solid #FFCE4E;
    transition: all .4s;
}

.header__btn-create:hover {
    color: black;
    background: #FFCE4E;
}

.header__result {
    padding-top: 121px;
    display: flex;
    justify-content: space-between;
}

.item__number {
    color: #F5FBF2;
    font-family: 'Oxanium';
    font-size: 62px;
    font-weight: 700;
}

.item__goals {
    color: #9B9E9A;
    font-family: 'Work-Sans';
    font-size: 24px;
    font-weight: 400;
    line-height: 147.717%;
    text-align: center;
}

.header__picture {
    max-width: 558px;
    height: 718px;
    margin-left: 148px;
    margin-top: 140px;
}

.header__picture-box {
    position: relative;
}

.header__unpic-box {
    display: flex;
    align-items: center;
    max-width: 548px;
    height: 142px;
    background: #B5C8DB;
    position: absolute;
    top: 575px;
    right: 0;
    left: 0;
    bottom: 0;
}

.header__unpic-info {
}

.unpic__position {
    color: #16091B;
    font-family: 'Oxanium';
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1.96px;
    margin: 33px 170px 0px 60px;
}

.unpic__teg {
    color: #594D5E;
    font-family: 'Work-Sans';
    font-size: 24px;
    font-weight: 400;
    line-height: 147.717%;
    margin: 0px 160px 38px 60px;
}

.header__unpic-btn {
    width: 205px;
    height: 72px;
    background: #FFCE4E;
    backdrop-filter: blur(22.5px);
    color: #000;
    font-family: 'Work-Sans';
    font-size: 24px;
    padding: 23px 44px 23px 45px;
    font-weight: 700;
    
}

/*=======================PARTNER===================*/

.partner {
    margin-top: 182px;
    margin-right: auto;
}
.parter__list {
    display: flex;
    justify-content: center;
}
.partner__item { 
    margin-right: 132px;
}
.partner__link {
}